<h3>Editing Game #<%= @game.id %></h3>


<%= form_tag(game_url(@game), method: 'put') do %>

  <div>
    <%= label_tag :home_team_id %><br />
    <%= select_tag :home_team_id, options_from_collection_for_select(Team.order('team_name'), :id, :team_name, @game.home_team_id) %>
  </div>

  <div>
    <%= label_tag :visiting_team_id %><br />
    <%= select_tag :visiting_team_id, options_from_collection_for_select(Team.order, :id, :team_name, @game.visiting_team_id) %>
  </div>

  <div>
    <%= label_tag :line %><br />
    <%= text_field_tag :line, @game.line %>
  </div>

  <div>
    <%= label_tag "The home team:" %><br />
    <%= select_tag :home_team_result, options_for_select(["", "Won", "Lost"], @game.home_team_result) %>
  </div>
  <br></br>

  <div>
    <%= submit_tag "Update Game" %>
  </div>

<% end %>
