<h1>Game #<%= @game.id %></h1>

<p>
  <b>Home team:</b>
  <%= @game.home_team_id %>
</p>

<p>
  <b>Visiting team:</b>
  <%= @game.visiting_team_id %>
</p>

<p>
  <b>Line:</b>
  <%= @game.line %>
</p>

<p>
  <b>Home team result:</b>
  <%= @game.home_team_result %>
</p>


