<h3>Editing User</h3>

<%= form_tag(user_url(@user), method: 'put') do %>

  <div>
    <%= label_tag :username %><br />
    <%= text_field_tag :username, @user.username %>
  </div>

<div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, @user.password %>
  </div>

  <div>
    <%= label_tag :commissioner %><br />
    <%= select_tag :commissioner, options_for_select(["User", "Site Admin"], "User") %>
  </div>

  <div>
    <%= submit_tag "Update User " %>
  </div>

<% end %>

