<h1>Users</h1>
<p><%= link_to 'Add a New User', new_user_url %></p>
<p><%= link_to 'Go back to Games', games_url %></p>

<table>
  <thead>
    <tr>
      <th>User First Name</th>
      <th>User Last Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
      <td><%= user.record %></td>
      <td><%= user.units %></td>


    <td><%= link_to 'Show', user_url(user) %></td>
     </tr>
<% end %>
</table>


<%= link_to 'Click to View Units', new_user_path %>
</tr>
<br />