<h3>Users</h3>
<p><%= link_to 'Add a New User', new_user_url %></p>
<%= link_to 'Click to View Units', units_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>



<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
      <td><%= user.user_last_name %></td>
      <td><%= user.record %></td>
      <td><%= user.units %></td>


    <td><%= link_to 'Show', user_url(user) %></td>
     </tr>
<% end %>
</table>





</tr>
<br />
