<h3>New User</h3>


<%= form_tag(users_url, method: 'post') do %>


  <div>
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>

 <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

 <div>
    <%= label_tag :commissioner %><br />
    <%= radio_button :commissioner, false, true %>
  </div>

  <div>
    <%= submit_tag "Sign up" %>
  </div>
<% end %>

