<h1>Editing Team #<%= @team.id %></h1>


<%= form_tag(team_url(@team), method: 'put') do %>

  <div>
    <%= label_tag :team_name %><br />
    <%= text_field_tag :team_name, @team.team_name %>
  </div>

  <div>
    <%= label_tag :conference %><br />
    <%= text_field_tag :conference, @team.conference %>
  </div>

  <div>
    <%= label_tag :division %><br />
    <%= text_field_tag :division, @team.division %>
  </div>

  
  <div>
    <%= submit_tag "Update Team" %>
  </div>

<% end %>
